Repository eclipse/microprofile-lra, pull requests merged in 2020-09, with the labels that each got.

#315 [314] refactor LRAMetrics to assert easier
  tck/pom.xml
  tck/src/main/java/org/eclipse/microprofile/lra/tck/LRAClientOps.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/TckCancelOnTests.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/TckContextTests.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/TckParticipantTests.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/TckRecoveryTests.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/TckTests.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/TckUnknownStatusTests.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/TckUnknownTests.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/AfterLRAListener.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/AfterLRAParticipant.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/ContextTckResource.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/LRAUnknownResource.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/LRAUnknownStatusResource.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/LraCancelOnResource.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/LraResource.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/ParticipatingTckResource.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/RecoveryResource.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/nonjaxrs/valid/LongBusinessMethodParticipant.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/nonjaxrs/valid/ValidLRACSParticipant.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/nonjaxrs/valid/ValidLRAParticipant.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/service/LRAMetricAssertions.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/service/LRAMetricService.java
Labels: TCK, ready for merge

#316 Issue306 Enhance description of nested contexts
  api/src/main/java/org/eclipse/microprofile/lra/annotation/AfterLRA.java
  api/src/main/java/org/eclipse/microprofile/lra/annotation/ws/rs/LRA.java
  spec/src/main/asciidoc/microprofile-lra-spec.adoc
Labels: ready for merge

#324 [#323] LRAClientOps using ConcurrentHashMap which takes snapshot for iteration
  tck/src/main/java/org/eclipse/microprofile/lra/tck/LRAClientOps.java
Labels: TCK, ready for merge

#326 [#325] catching Throwable hides test errors in TckLRATypeTests
  tck/src/main/java/org/eclipse/microprofile/lra/tck/TckLRATypeTests.java
Labels: TCK, ready for merge

#321 #299 Fix participant HTTP responses to 200, 202, 409, 410
  api/src/main/java/org/eclipse/microprofile/lra/LRAResponse.java
  api/src/main/java/org/eclipse/microprofile/lra/annotation/Compensate.java
  api/src/main/java/org/eclipse/microprofile/lra/annotation/Complete.java
  api/src/main/java/org/eclipse/microprofile/lra/annotation/ws/rs/LRA.java
  spec/src/main/asciidoc/microprofile-lra-spec.adoc
  tck/src/main/java/org/eclipse/microprofile/lra/tck/TckTestBase.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/AfterLRAParticipant.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/LraCancelOnResource.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/LraResource.java
Labels: ready for merge

#322 #298 Replace LRAClientOps#isLRAFinished with afterLRA calls
  tck/src/main/java/org/eclipse/microprofile/lra/tck/LRAClientOps.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/TckLRATypeTests.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/TckTestBase.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/TckTests.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/AfterLRAListener.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/AfterLRAParticipant.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/LRATypeTckInterface.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/LRATypeTckInterfaceResource.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/LRATypeTckResource.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/LRATypeTckSuperclass.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/LRATypeTckSuperclassResource.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/LRAUnknownResource.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/LraResource.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/NonParticipatingTckResource.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/api/ResourceParent.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/service/LRAMetricAssertions.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/service/LRAMetricService.java
  tck/src/main/java/org/eclipse/microprofile/lra/tck/service/LRATestService.java
Labels: TCK, ready for merge

#330 Fix the race condition in the TckParticipantTests.cancelLraDuringBusi…
  tck/src/main/java/org/eclipse/microprofile/lra/tck/participant/nonjaxrs/valid/LongBusinessMethodParticipant.java
Labels: TCK, bug, ready for merge

#334 Fix all NOTICE files that mention MicroProfile Health instead of LRA
  NOTICE
  api/NOTICE
  api/src/main/resources/META-INF/NOTICE
  spec/NOTICE
  spec/src/main/resources/META-INF/NOTICE
  tck/src/main/resources/META-INF/NOTICE
Labels: ready for merge

#332 Change the developerConnection configuration to SSH
  pom.xml
Labels: ready for merge
